---
---

/* IMPORTS, MISC, FONTS
----------------------------------------- */
@import "fonts-colors";
@import "base";
@import "mixins";
@import "responsive-reporter";
@import "css-plugins";

*  {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: $lato;
    font-size: 18px;
    background: $primary;

    p,
    ul {
        line-height: 3rem;
        margin: 0 0 25px;
        color: lighten($black, 15%);
    }

    strong {
        font-weight: 700;
        color: $black;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $oswald;
    text-transform: uppercase;
    margin: 0 0 25px 0;
    font-weight: 400;
    letter-spacing: 1px;
}


/* HEADER
----------------------------------------- */
header {
    background: $black;
    color: $white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);

    a,
    a:hover { color: $white; }

    span.logo { // logo
        border: 3px solid $white;
        border-radius: 2px;
        font-family: $oswald;
        margin: 1rem 0;
        padding: .25rem .5rem;
        font-size: 2.75rem;
        display: inline-block;
    }

    nav {
        margin-top: 1rem;

        ul {
            text-align: right;
            @include reset-spacing;

            li {
                list-style: none;
                margin-right: 3rem;
                display: inline-block;
                line-height: 0;
                text-align: center;
            }

            li:last-child {
                margin-right: 0;
            }

            a {
                color: $white;
                text-transform: uppercase;
                line-height: 2;
                font-size: 1.2rem;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }
}

/* HERO
----------------------------------------- */
.no-hero { margin-top: 7rem; } // height of header

.hero {
    margin-top: 7rem;
    background-size: cover !important;
    position: relative;

    .left {
        background: url(../images/hero-bkg.jpg) no-repeat center center;
        box-shadow: 0 0 550px rgba(0, 0, 0, 0.24) inset;
        background-size: cover;
        height: 100%;
        height: 100%;
    }

    h1 {
        @include reset-spacing;
        text-transform: uppercase;
        line-height: 3rem;
        text-shadow: 1px 1px 1px #2f2f2f;

        span {
            font-family: $lato;
            font-size: 1.6rem;
        }
    }

    .work {
        @include reset-spacing;
    }

    .featured-work {
        overflow: hidden;
        float: left;
        @include reset-spacing;

        h3 {
            @include reset-spacing;
        }

        .wrap {
        	position: relative;
        	text-align: center;
        }

        img {
        	width: 100% !important;
        	height: auto;
        	display: block;
        }

        .caption {
        	position: absolute;
        	top: 100%;
        	padding: 0;
        	width: 100%;
        	height: 101%;

        	-webkit-transition: all .3s;
        	-moz-transition: all .3s;
        	-o-transition: all .3s;
        	-ms-transition: all .3s;
        	transition: all .3s;
        }

        .cap-content {
        	display: table;
        	height: 100%;
        	width: 100%;
        	background: black;
        	opacity: .6;
        }

        .cap-content a {
        	display: table-cell;
            vertical-align: middle;
            width: 100%;
            text-align: center;
            color: white;
            opacity: 1;
        }

        .cap-content a span {
        	font-family: 'Oswald', sans-serif;
        	font-size: 2rem;
        	text-transform: uppercase;
        }

        .cap-content a:hover {
        	text-decoration: none;

        }
    }

    .featured-work:hover .caption {
        top: 0;

        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s;

    }

    .avatar img {
        border-radius: 50%;
        border: 5px solid $white;
        position: absolute;
        bottom: -50px;
        left: 50%;
        margin: 0 0 0 -50px;
    }
}

.featured-work .bkg {
    -webkit-transform: all .3s;
    -moz-transform: all .3s;
    -ms-transform: all .3s;
    -o-transform: all .3s;
    transform: all .3s;
    transition-delay: .1s;
}
.featured-work:hover .bkg {
    -webkit-filter: blur(5px);
    filter: blur(5px);

    -webkit-transform: all .3s;
    -moz-transform: all .3s;
    -ms-transform: all .3s;
    -o-transform: all .3s;
    transform: all .3s;
    transition-delay: .1s;
}

.hero.home {
    height: 70%;

    h1 {
        font-size: 5.28rem;
    }

    .featured-work:first-child {
        width: 100%;
    }

    .featured-work {
        height: 50%;
        width: 50%;

        .bkg {
            height: 100%;
        }
    }
}

.hero.standard {
    padding: 13rem 0;
    box-shadow: 0 0 550px rgba(0, 0, 0, 0.24) inset;

    h1 {
        font-size: 3.8rem;
        line-height: 4.5rem;
    }

    p {
        margin: 15px 0;
        color: $white;
    }
}

.blurImg {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden; // fixes header glitch
    -webkit-transform: translateZ(0) scale(1.0, 1.0); // fixes header glitch
}

.blurImg > div {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    width: 100%;
    height: 650px;
    top: 0;
    background-size: cover !important;
    -webkit-backface-visibility: hidden; // fixes header glitch
    -webkit-transform: translateZ(0) scale(1.0, 1.0); // fixes header glitch
}

.share-post {
    background: #f2f2f2;
    padding: 4rem 2rem;
    border-radius: 2px;

    a {
        color: lighten($black, 20%);
        font-size:3rem;
        margin-right: 1rem;
    }
}

.share-on a {
    font-size: 2.2rem;
    margin: 0 2px;
    vertical-align: middle;
}

.share-on a:hover i {
    color: darken($white, 20%);
}

.social li a {
    color: $white;
    font-size: 2rem;
}

.tweet {
    ul {
        @include reset-spacing;

        li {
            list-style: none;
            font-size: 2rem;

            a {
                font-family: $oswald;
                color: $white;
                text-transform: uppercase;
            }
        }
    }

    .avatar {
        margin: 2rem 0;

        img {
            border-radius: 50%;
            margin-right: .5rem;
            box-shadow: 0 0 10px $black;
        }
    }
}

.disqus {
    position: relative;
    z-index: 1;
}

.post-single,
.post {
    margin: 0;
    border-bottom: 1px solid #ccc;

    h2 a {
        color: lighten($black, 10%);
    }

    .date {
        svg,
        i {
            margin-right: 1rem;
        }

        p {
            line-height: 2.4rem;
            font-weight: 700;
        }

        i {
            margin-right: 5px;
        }
    }
}

.post {

    .date {
        svg,
        i {
            float: left;
            margin-right: .5rem;
        }
    }

    padding: 3rem 0;
}

.post:first-child {

    h2 {
        margin-top:0 !important;
    }

    padding-top: 0;
}

.post:last-child { border-bottom: 0; }

.page-link {
    padding: 5px 10px;
    border: 1px solid lighten($black, 20%);
    background: $primary;
    color: $white;
    margin-right: 5px;
    background: lighten($black, 20%);
}

.page-link:first-child {
    margin-left: 5px;
}

a.page-link {
    text-decoration: none;
    border: 1px solid $black;
    background: none;
    color: $black;
}

a.page-link:hover {
    text-decoration: none;
    border: 1px solid lighten($black, 20%);
    background: lighten($black, 60%);
    color: lighten($black, 20%);
}

.paginate-arrows {
    margin-right: 10px;
}

.paginate-arrows:last-child {
    margin-left: 10px;
}

.project-details li { margin-bottom: 7px; }

.to-post {
    position: fixed;
    top: 50%;
    opacity: 0;
    z-index: 1000;
}

.to-post.prev {
    left: 0;
}

.to-post.next {
    right: 0;
}

.to-post a span {
    padding: 20px 10px;
    display: block;
    float: left;
    background: lighten($black, 70%);
    color: $black;
    z-index: 10000;
}

.to-post a span.arrow {
    background: $primary;
    color: $white;
}

.flexslider {
    background: transparent;
    border: none;
    @include reset-spacing;

    .flex-control-nav {
        // line-height: 0;
        // position: relative;
        // bottom: 0;
        display: none;
    }

    .flex-direction-nav a:before {
        font-size: 35px;
    }

    img[src$=".svg"] {
        width: 15px;
        height: 15px;
        display: inline-block;
    }

    img[src$=".svg"]:first-child {
        margin-right: .5rem;
    }

    img[src$=".svg"]:last-child {
        margin-left: .5rem;
    }

    p:nth-child(2) {
        line-height: 2.5rem;
    }

    p span {
        font-family: $oswald;
    }

    p:last-child img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        float: left;
        border-radius: 50%;
    }
}

aside {
    h3 {
        margin: 0 0 10px;
    }

    li {
        text-transform: capitalize;
    }

    .tags li {
        display: inline-block;
        float: left;
        margin: 0 5px 5px 0;
        background: #5d5d5d;
        padding: 0px 10px;
        border-radius: 2px;
        font-size: 1.5rem;
        cursor: pointer;

        a { color: $white; }
    }

    .tags li:hover {
        background: darken(#5d5d5d, 20%);

        a { text-decoration: none; color: $white; }
    }
}

#connect .social {
    a {
        color: #fff;
        font-size: 4rem;
        display: block;
        padding: 3rem 0;
    }

    .facebook { background: #3b5998; }
    .facebook:hover { background: #4c70ba; }

    .twitter { background: #019FE9; }
    .twitter:hover { background: #1fb7fe; }

    .linkedin { background: #0074B1; }
    .linkedin:hover { background: #0095e4; }

    .instagram { background: #DA2979; }
    .instagram:hover { background: #e25494; }

    .github { background: #808080; }
    .github:hover { background: #9a9a9a; }

    .codepen { background: #000; }
    .codepen:hover { background: #1a1a1a; }

    div > div:first-child { padding-right: 7px; }
    div > div:last-child { padding-left: 7px; }
}


/* FOOTER
----------------------------------------- */
footer {
    background: $black;
    color: $white;
    padding: 1rem 0;

    ul { margin-bottom: 0; }
}

@import "breakpoints";
