_site
_drafts
.sass-cache
.jekyll-metadata
CNAME
berning-resume.pdf
coverage

# Nuxt build
.nuxt
.output
.dist
dist
.data
.netlify

# Storybook build
public/storybook
storybook-static

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*

# Editor
.idea
*.iml
.DS_Store

# Local Netlify folder
.netlify
