<div class="cta-bar cta-sm cta-dark">
  <div class="container">
    <h3 class="text-center">New Book Now Available!</h3>

    <div class="row">
      <div class="col-sm-9">
        <p class="color-white text-left">My new book that I co-authored, <em>Creating Interfaces With Bulma</em> is now available
          on Amazon, Bleeding Edge Press, <a href="https://www.skillsoft.com/" target="_blank">SkillSoft</a>, and
          <a href="https://www.safaribooksonline.com/library/view/creating-interfaces-with/9781939902498/" target="_blank">Safari
            Books Online</a>.</p>

          <p class="color-white text-left">This book is a step-by-step guide that teaches you how to build a web interface from scratch using the popular Bulma framework. This book is for any designer or developer interested in understanding how to use Bulma and how to use Bulma’s components
          and layout system to create their own web interface.</p>

        <div class="row">
          <div class="col-sm-6 gutter-bottom">
            <a href="https://www.amazon.com/Creating-Interfaces-Bulma-Jeremy-Thomas-ebook/dp/B079M1BJG4/ref=sr_1_1?ie=UTF8&qid=1535424338&sr=8-1&keywords=creating+interfaces+with+bulma&dpID=51AJvfHelgL&preST=_SY445_QL70_&dpSrc=srch" class="btn btn-primary btn-no-underline btn-block btn-lg" target="_blank">Buy on Amazon</a>
          </div>
          <div class="col-sm-6 gutter-bottom">
            <a href="https://bleedingedgepress.com/creating-interfaces-bulma/" class="btn btn-default btn-no-underline btn-block btn-lg" target="_blank">Buy on Bleeding Edge Press</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <img class="img-responsive" src="{{site.url}}/images/bulma.png" alt="Creating Interfaces with Bulma book cover">
      </div>
    </div>
  </div>
</div>
