<div id="connect" class="section">
    <div class="container">
        {% if page.url == "/connect/" %}
            <h1 class="gutter-bottom">Connect With Me</h1>

            <p class="gutter-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eum ipsa sint, nostrum distinctio suscipit nam cumque maiores doloribus a dolores, dignissimos ad, quia molestias reiciendis non neque dolorem aut.</p>
        {% else %}
            <h2 class="gutter-bottom">Connect With Me</h2>
        {% endif %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 gutter-bottom">
                <form class="bootstrap">
                    <div class="row">
                        <div class="col-sm-6 gutter-bottom">
                            <input class=" btn-block" type="text" required>
                            <label class="valid" for="input-name"><span>First Name</span></label>
                        </div>

                        <div class="col-sm-6 gutter-bottom">
                            <input class=" btn-block" type="text" required>
                            <label class="valid" for="input-name"><span>Last Name</span></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 gutter-bottom">
                            <input class=" btn-block" type="email" required>
                            <label class="valid" for="input-name"><span>Email Address</span></label>
                        </div>

                        <div class="col-sm-6 gutter-bottom">
                            <input class=" btn-block" type="tel">
                            <label class="valid" for="input-name"><span>Phone Number</span></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="container-fluid">
                            <textarea rows="5" required></textarea>
                            <label class="valid" for="input-name"><span>Your Message</span></label>
                        </div>
                    </div>

                    <div class="row gutter-top">
                        <div class="col-sm-4">
                            <button class="btn-primary btn btn-block btn-lg">Send</button>
                        </div>
                        <div class="col-sm-4 hidden-xs">
                            <button class="btn-secondary btn btn-block btn-lg">Clear</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-4 social">
                <div class="row">
                    <div class="col-xs-6 gutter-bottom">
                        <a class="facebook transition" href="https://www.facebook.com/dave.berning.iii" title="Like me on Facebook!" target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>

                    <div class="col-xs-6 gutter-bottom">
                        <a class="twitter transition" href="https://twitter.com/daveberning" title="Follow me on Twitter!" target="_blank"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 gutter-bottom">
                        <a class="linkedin transition" href="https://www.linkedin.com/in/davidberning" title="Connect with me on Linkedin!" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>

                    <div class="col-xs-6 gutter-bottom">
                        <a class="instagram transition" href="https://instagram.com/daveberning/" title="Follow me on Instagram!" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 gutter-bottom">
                        <a class="github transition" href="https://github.com/daveberning" title="Fork me on GitHub!" target="_blank"><i class="fa fa-github"></i></a>
                    </div>

                    <div class="col-xs-6 gutter-bottom">
                        <a class="codepen transition" href="https://codepen.com/daveberning" title="Follow me on GitHub!" target="_blank"><i class="fa fa-codepen"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- section -->
