<div class="hidden-xs col-sm-6 right height-100 work">
    {% assign projectIndex = (site.projects | sort: 'index') %}
    {% for project in projectIndex %}
    <div class="featured-work col-xs-12 height-50 text-center">
        <div class="bkg" style="background: url('{{project.featuredImage}}') no-repeat center center;"></div>
        <div class="caption">
            <div class="cap-content">
                <a href="{{project.categories}}/{{project.slug}}"><span>{{project.name}}</span><br>
                {{project.caption}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
