<div class="hidden-xs col-sm-6 right height-100 work">
    <div class="featured-work col-xs-12 height-50 text-center">
        <div class="bkg" style="background: url('{{site.url}}images/m80-bkg-thumbnail.jpg') no-repeat center center;"></div>
        <div class="caption">
            <div class="cap-content">
                <a href="work/m80/"><span>M80, Inc</span><br>
                Wordpress</a>
            </div>
        </div>
    </div>

    <div class="featured-work col-xs-6 height-50 text-center">
        <div class="bkg" style="background: url('{{site.url}}images/caldwell-bkg-thumbnail.jpg') no-repeat center center;"></div>
        <div class="caption">
            <div class="cap-content">
                <a href="work/caldwell-university/"><span>Caldwell University</span><br>
                Interactive Micro-Site<br>
                </a>
            </div>
        </div>
    </div>

    <div class="featured-work col-xs-6 height-50 text-center">
        <div class="bkg" style="background: url('{{site.url}}images/bearcast-bkg-thumbnail.jpg') no-repeat center center;"></div>
        <div class="caption">
            <div class="cap-content">
                <a href="work/bearcast-media/"><span>Bearcast Media</span><br>
                Wordpress</a>
            </div>
        </div>
    </div>
</div>
