<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-1">
                <div>
                    <a href="{{site.url}}"><span class="logo">DB</span></a>
                </div>
            </div>
            <div class="col-xs-11">
                <nav>
                    <ul>
                        <li>
                            <a href="{{site.url}}about/"><span class="visible-xs"><i class="fa fa-user" aria-hidden="true"></i><br></span>About</a>
                        </li>

                        <li>
                            <a href="{{site.url}}work/"><span class="visible-xs"><i class="fa fa-briefcase" aria-hidden="true"></i><br></span>Work</a>
                        </li>

                        <li>
                            <a href="{{site.url}}blog/"><span class="visible-xs"><i class="fa fa-share-alt" aria-hidden="true"></i><br></span>Blog</a>
                        </li>

                        <li>
                            <a href="{{site.url}}connect/"><span class="visible-xs"><i class="fa fa-envelope" aria-hidden="true"></i><br></span>Connect</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div><!-- container-fluid -->
</header>
