<ul class="social list-unstyled gutter-top">
    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
</ul>
