.gutter-top {
    margin-top: 15px;
}

.gutter-bottom {
    margin-bottom: 15px;
}

.vertically-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.height-100 {
    height: 100%;
}

.height-50 {
    height: 50%;
}

.transition {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.transition:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn,
.btn:hover {
    background: none;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-lg {
  padding: 15px 0;
}

.btn-primary {
  background: #356a7a;
  color: #fff;
  border: 2px solid #356a7a;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #418396;
  border: 2px solid #418396;
}

.btn-secondary {
  background: #858585;
  color: #fff;
  border: 2px solid #858585;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background: #999999;
  border: 2px solid #999999;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  color: #fff;
}

.color-white {
    color: $white;
}

.material-icons {
    vertical-align: middle !important;
}
.cta-bar {
    text-align: center;
    background: $primary !important;
    color: $white;

    a {
        color: $white;
        text-decoration: underline;
    }
}

.section:nth-child(even) {
    background: $white;
}

.section:nth-child(odd) {
    background: #f2f2f2;
}

.cta-bar {
    padding: 5rem 0;
}

.section {
    padding: 10rem 0;
}

.social {
    text-align: center;

    li {
        display: inline;
        margin-left: .5rem;
    }

    a {
        color: $black;
        font-size: 2.5rem;
    }

    li:last-child {
        margin-right: 0;
    }
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
