/* SMALL (sm) devices (tablets, 768px and up) */
@media (min-width: 768px) {
    nav ul li a {
        line-height: 2.5;
        font-size: 2rem;
    }
}
/* MEDIUM (md) devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hero.standard {
        padding: 13rem 0;

        h1 {
            font-size: 4.5rem;
        }
    }
}
/* LARGE (lg) devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

@media screen and (max-device-width: 768px) { // Mobile DEVICES only
    .featured-work .caption {
        top: 50%;
        height: 50%;

        .cap-content {
            opacity: .7;
        }
    }
}
