@media screen and (max-device-width: 768px) { // Mobile DEVICES only
    .featured-work .caption {
        top: 25% !important;
        height: 50% !important;

        div {
            opacity: .75;
        }
    }

    .featured-work:hover {
        .bkg {
            -webkit-filter: initial; // resets blur filter
            filter: initial;
        }

        .caption {
            top: 25% !important;
        }
    }

    input,
    textarea { // removes mobile Safari radius on inputs
         -webkit-appearance: none;
         border-radius: 0;
    }
}

/* SMALL (sm) devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }

    .hero h1 span {
        font-size: 1.6rem;
    }

    .hero .standard {
        padding: 13rem 0;
    }

    nav ul li a {
        line-height: 2.5;
        font-size: 2rem;
    }

    .flexslider ul.slides li div.row div:first-child {
        margin-bottom: 0;
    }

    .flex-control-nav {
        display: none !important;
    }

    .flex-direction-nav { display: block !important; }

    .date {
        text-align: left !important;

        svg,
        i {
            float: left;
        }

        p {
            display: block;
        }
    }
}

/* MEDIUM (md) devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .hero.standard {
        padding: 13rem 0;

        h1 {
            font-size: 4.5rem;
        }
    }

    .section {
        padding: 10rem 0;
    }
}
/* LARGE (lg) devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}
