/* fonts
--------------------------*/
$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;

/* colors
--------------------------*/
$primary: #036e86;
$primary-lgt: lighten($primary, 20%);
$black: #252525;
$white: #fff;
