{% include head.html %}

  <body>

    {% include header.html %}

    <div class="hero standard">
        <div class="container-fluid">

            <div class='blurImg'>
                <div style="background: url('{{site.url}}/{{page.backgroundImage}}') no-repeat center center"></div>
                <div class="blur" style="background: url('{{site.url}}/{{page.backgroundImage}}') no-repeat center center"></div>
            </div>

            <div class="row">
                <h1 class="text-center color-white">My Thoughts for You To Read</h1>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    {% for post in site.posts limit:5 %}
                        <div class="post">
                            <h2><a href="{{site.url}}/{{post.slug}}">{{post.title}}</a></h2>

                            <div class="date">
                                <i class="material-icons muted">event</i>
                                {{ post.date | date: '%B %d, %Y' | prepend: '<p class="muted">' | append: '</p>' }}
                            </div>

                            {{ post.excerpt }}
                            <!-- <div class="row gutter-top">
                                <div class="col-sm-4">
                                    <a href="{{post.slug}}" class="btn btn-secondary btn-block btn-lg gutter-top">Read More</a>
                                </div>
                            </div> -->
                        </div><!-- end post -->
                    {% endfor %}
                </div>
                <aside class="col-sm-3">
                    {% include blog-sidebar.html %}
                </aside>
            </div>
        </div>
    </div>

{% include footer.html %}
